<div class="footer">
  <div class="card-group m-4 p-3">
    <div class="card">

  <div class="card-body">
    <h3 class="card-title">LOCATION</h3>
    <p class="card-text">2215 John Daniel Drive.</p>
    <p class="card-text">Clark, MO 65243</p>
  </div>
</div>
    <div class="card">

  <div class="card-body text-center">
    <h3 class="card-title">AROUND THE WEB</h3>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=100011252918057&mibextid=ZbWKwL" class="text-white" target="_blank"><i class="fa-brands fa-facebook mx-1 icon"></i></a>
      <a href="https://www.linkedin.com/in/karim-mamdouh-890a53261/" class="text-white" target="_blank"><i class="fa-brands fa-linkedin mx-1 icon"></i></a>
      <i class="fa-brands fa-twitter mx-1 icon"></i>
      <i class="fa-solid fa-globe-americas mx-1 icon"></i>
    </div>
  </div>
</div>
    <div class="card">

  <div class="card-body text-center">
    <h3 class="card-title">ABOUT FREELANCER</h3>
    <p class="card-text">Freelance is a free to use, licensed Bootstrap theme created by Route.</p>
    <p></p>
  </div>
</div>
  </div>
</div>
<!--  -->

<div class="p">
  <p>Copyright © Your Website 2021</p>
</div>
