<section class="contact">
  <div class="text-center pt-4">
    <h2 class="text-uppercase mb-3 fs-1 fw-bolder">contact section</h2>
    <div class="d-flex justify-content-center align-items-center mb-3 ">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3"></div>
    </div>





  </div>

  <form class=" w-50 p-3 mx-auto mt-5">
    <label for="userName"></label>
    <input type="text" id="userName" placeholder="userName" name="username" class="form-control border-0 border-bottom py-3 position-relative">
<!-- user name info -->

    <label for="userAge"></label>
    <input type="number" maxlength="100" id="userAge" placeholder="userAge" name="userage" class="form-control border-0 border-bottom py-3 position-relative">
<!-- user age info -->

    <label for="useremail"></label>
    <input type="email" id="useremail" placeholder="userEmail" name="userEmail" class="form-control border-0 border-bottom py-3 position-relative">
<!-- useremail info -->

    <label for="userpass"></label>
    <input type="password" id="userpass" placeholder="userPassword" name="userPassword" class="form-control border-0 border-bottom py-3 position-relative">
    <button class="btn btns p-2 mt-3 text-white">Send Message</button>
  </form>
</section>
