<nav class="navbar navbar-expand-lg fixed-top py-4">
  <div class="container">
    <a class="navbar-brand text-white fs-3 titl " href="#">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link active titl  text-white" aria-current="page" routerLinkActive="rounded-2 bg" routerLink="app-about">ABOUT</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link titl  text-white" routerLinkActive="rounded-2 bg" routerLink="app-portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link titl  text-white" routerLinkActive="rounded-2 bg" routerLink="app-contact">CONTACT</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
